.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.idea/
/non-reactive.log
/reactive-web/reactive.log
/.runConfigurations/
/scripts/ext-output.json
/nonreactive-web/non-reactive.log
